<%= simple_form_for @order do |f| %>
  <h3>Line Items</h3>
  <div id='line_items'>
    <%= f.simple_fields_for :line_items do |item| %>
      <%= render 'line_item_fields', f: item %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add line item', f, :line_items %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
